<div class="background">
    <h1>OneFlash</h1>
    <div class="contain">
        <div class="authoption">
            <a (click)="loginWithGmail()">
                <div class="card-google">
                    <mat-card class="box">
                        <mat-card-content class="content">
                            <img src="../assets/google-icon.svg" alt="" srcset="">
                        </mat-card-content>
                        <mat-card-header>Login with Google</mat-card-header>

                    </mat-card>
                </div>
            </a>
        </div>

    </div>
</div>