.background {
    margin: 0;
    padding: 0;
    background-color: #151B2B;
    color: white;
    h1 {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin: 0;
        padding: 1em;
    }
    .contain {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .authoption {
            display: flex;
            justify-content: center;
            height: 300px;
        }
        a {
            text-decoration: none;
        }
    }
    .card-google {
        width: 250px;
        cursor: pointer;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}